body{
    margin-top: 82px;
}
.navbar{
    box-shadow: 2px 2px 5px #3292a6;
    background: #fff;
    opacity: 0.9;
}
.nav-item{
    font-size: 1.2rem;
    padding-right: 20px;
}
.nav-item:last-child{
    padding-right: 0;
}
.nav-link{
    color: #252525;
}
.nav-link:hover{
    color: #3292a6 !important;
}
.home{
    background-image: url("./img/img.jpg") ;
    background-repeat: no-repeat;
    background-position: center center;;
    background-size: cover; 
    min-height: 600px;
    position: relative;
}
.primary-overlay{
    background: rgba(50, 146, 156, 0.7);
    min-height: 600px;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media(max-width:576px){
    .h2{
       font-size: 4rem; 
    }
}
.car{
    margin-top: 100px;
}
.card:hover{
    background: #3292a6;
    color: #fff;
}
.ima{
    height: 150x;
    width: 150px;
    margin-top:-50px;
    margin-bottom: 10px;
}
.fa{
    font-size :25px !important;
}